<html>
    <head>
        <title>Egzersiz Beslenmesi </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Egzersiz Öncesi Sıvı Alım Önerisi</a></h1>
            <p>Egzersiz öncesi sıvı alımının amacı fiziksel aktivite sırasında vücut ısısının ve plazma elektrolit dengesinin normal seviyelerde olmasını sağlamak olduğunu öğrenmiştik.
                ❗️Egzersize başlamadan önce sporcuların dehidrasyon durumları varsa performanslarını olumsuz yönde etkileyebilmektedir.
                🍎💧Yeterli besin ve sıvı tüketimi yapıldıysa ve son egzersizden sonra 8–12 saat geçmiş ise vücut sıvısının normal veya normale yakın seviyede olması gerekmektedir.
                ❗️Kişinin önemli miktarda sıvı açığı varsa ve yeterli elektrolit dengesine sahip değilse vücut sıvısı normal değerlere getirilmelidir.
                💧Egzersizden en az 4 saat öncesinde sporcular yavaş yavaş 5-7 ml/kg sıvı tüketmelidir.
                —Yanii 70 kg olan birey için 350-500 ml arası—
                ✅Egzersiz öncesi idrar rengi açık/soluk sarı olmalıdır.
                👌🏻Sıvının lezzetli olmasının, sıvi tüketiminin artmasını sağladığı bilinmektedir.
                🔥İçilecek olan suyun sıcaklığının ise 15–21ºC olması önerilmektedir.</p>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Egzersiz Sırasında Sıvı Alım Önerisi</a></h2>
            <p>💧Ter oranı; egzersiz yoğunluğu, egzersizin süresi, sıcaklık, nem, yükseklik gibi nedenlere bağlı olarak 0,3–2,4 L/saat arasında değişebilmektedir.
                ✅Egzersiz sırasında terle kaybedilen sıvıyı tamamlamak için yeterli tüketimi yapılmalıdır. Sporcular için genel olarak en uygun sıvı alımı 0,4–0,8 litre/saat'dir.
                👍🏻Ayrıca sıvı tüketimi olarak karbonhidrat gibi besin ögesi içeren sporcu içecekleri de kullanılabilmektedir.
                🍬Bununla birlikte vücuda alınan sıvıdaki glikoz yoğunluğu %8'den daha fazla olması durumunda mideden sıvının boşalma hızı yavaşlamaktadır. Bundan dolayı mide boşalımını hızlandırabilmek için alınan sıvıda özellikle %4-8 oranında karbonhidrat bulunması midede daha fazla miktarda sıvının tolere edilebilmesini sağlar.
                😋İçeceğin lezzetli olmasının da sıvı alımını artırdığı görülmüştür.
                🧂2 saati aşan uzun egzersizler ve >1,2 litre/saat ter kaybedenlerde sodyum alımı da önerilmektedir.
                🚶🏼‍♀️🚶🏻Kısa süreli aktivitelere katılan sporcular genellikle sıvı tüketimine ihtiyaçlarının olmadığını düşünmektedirler ancak kısa süreli aktivitelerde de dehidrasyon gelişebilmektedir. Aktiviteler 1 saatten az sürüyorsa; su, kaybedilen sıvı için yeterlidir. 1 saatten daha fazla süren egzersizlerde ise elektrolit takviyesi yapılması önerilmektedir. </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:20</p>
            <h2><a href="">Egzersiz Sonrası Sıvı Alımı</a></h2>
            <p>Egzersiz ya da Antrenman Sonrası eğer dehidrasyon oluşumu varsa bu önlenmelidir.
                🧐🧐Yaptığım okumalarda özellikle bazı otoriteler egzersiz sonrası için bir protokol önermeyeceklerini çünkü öncesi ve sırasında yeterli şekilde hidrasyonun sağlanmasının ideal olduğunu belirtmişlerdi.🧐🧐
                Ancak dehidratasyon varsa rehidrasyon tedavisi öncelikle su ve sodyum içermelidir. İdrar kayıpları minimize edilmelidir.
                Sodyum veya sodyum klorid içeren sıvılar plazma hacminin ve hücre dışı sıvıların korunmasına yardımcı olmaktadır. Bu nedenle egzersiz sonrası sodyum kısıtlaması sporculara önerilmemektedir. Çünkü egzersiz sonrası ter kayıpları ve idrarla sıvı kaybı devam etmektedir. Etkili bir rehidrasyon için daha büyük hacimli sıvı alımı gerekmektedir (1 kg sıvı açığı için 1,25–1,5 litre). İyileşme döneminde diüretik etkisinden dolayı alkol alımı önerilmemektedir. Diğer bir diüretik olan kafeinin tüketimi ise sınırlandırılmalıdır (<180 mg)</p>
        </div>
    </body>
</html>